@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	box-sizing: border-box;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--nav-bar-h: 3.5rem;
}

a.default {
	font-weight: 500;
	color: #ffffff;
	text-decoration: inherit;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.3em .6em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

a.link {
	color: #646cff;
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}

a.link:hover {
	border-color: transparent;
	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-size: 2em;
	line-height: 1.1;
}


div#app {
	background-color: white;
	position: relative;
	height: calc(100% - var(--nav-bar-h));
	display: flex;
	padding: 1rem;
	text-align: center;
}


nav-bar {
	height: var(--nav-bar-h);
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.badge {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 0.125rem 0.25rem;
	font-size: 0.75rem;
	font-weight: 600;
	border-radius: 1.5rem;
}

.error-message {
	color: #dd0000;
	background-color: #444;
	font-size: 0.875em;
	margin-top: 1em;
	border-radius: 8px;
	padding: 0.6em 1.2em;
}

button,
input {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover,
input:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

input.form-input {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5
}

label.form-input-label {
	@apply block mb-2 text-sm font-medium text-left text-gray-900
}

svg.svg-loading {
	animation: spin 1s linear infinite;
	width: 2em;
	height: 2em;
	margin: 0 auto;
	display: block;
	fill: #747bff;
}

svg.svg-check {
	width: 2em;
	height: 2em;
	margin: 0 auto;
	display: block;
	fill: #34c400;
}

/* toasts css */
div.toastify button.toast-close {
	margin-left: 7px;
}
div.toastify img.toastify-avatar {
	margin-right: 7px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}